In [19]:
import pandas as pd
import numpy as np
df=pd.read_csv('E:/ml/data.csv')
df

   student  math  evs  social  bio
0        1     4    8      13    7
1        2    11    4       5   14
2        3     5    6       4    0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   student  3 non-null      int64
 1   math     3 non-null      int64
 2   evs      3 non-null      int64
 3   social   3 non-null      int64
 4   bio      3 non-null      int64
dtypes: int64(5)
memory usage: 252.0 bytes

In [16]:
df.shape

(3, 5)

In [20]:
df.isnull()

   student   math    evs  social    bio
0    False  False  False   False  False
1    False  False  False   False  False
2    False  False  False   False  False

In [22]:
df.notnull()

   student  math   evs  social   bio
0     True  True  True    True  True
1     True  True  True    True  True
2     True  True  True    True  True

In [9]:
df.dropna()

   student  math  evs  social  bio
0        1     4    8      13    7
1        2    11    4       5   14

ValueError: Must specify a fill 'value' or 'method'.